<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>postUpdate</title>
</head>
<body>

<form action="/post/postUpdate" method="POST">
    <input type="text" name="postNo" value="1">
    <input type="text" name="postTitle" placeholder="Title">
    <textarea name="postText" placeholder="Text"></textarea>
    <button type="submit">Update Post</button>
</form>

<!--<form action="/post/postUpdate" method="POST">-->
<!--    <input type="number" name="postNo" value="postNo">-->
<!--    <input type="text" name="postTitle" value="postTitle" placeholder="Title">-->
<!--    <textarea name="postText" placeholder="Text">수정 내용</textarea>-->
<!--    <button type="submit">수정 </button>-->
<!--</form>-->

</body>
</html>