<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/post/view}" th:method="post">
    <table class="table">
        <tr><td colspan="2"><h2>게시판 목록</h2></td></tr>
        <tr class="header">
            <td class="postNo">번호</td>
            <td class="postTitle">제목</td>
            <td class="postText">내용</td>
            <td class="member">작성자</td>
            <!--        <td class="postDate">작성날짜</td>-->
        </tr>
        <script>
            const $list = document.get

        </script>

        <tr>
            <td>{{postNO}}</td>
            <td>{{postTitle}}</td>
            <td>{{postText}}</td>
            <td>{{member}}</td>
        </tr>
        {{/posts}}
        <tr th:each = "post : ${list}">

        </tr>
    </table>

</form>
</body>
</html>