<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>카테고리번호</th>
        <th>카테고리이름</th>

    </tr>
    <tr th:each="category : ${categoryList}">
        <td th:text="${ category.categoryNo }"></td>
        <td th:text="${ category.categoryName }"></td>

    </tr>
</table>
<div id="paging">

    <button th:onclick="'location.href=\'/category/list?page=' + ${ paging.startPage } + '\''"><<</button>
    <button th:onclick="'location.href=\'/category/list?page=' + ${ paging.currentPage - 1} + '\''"
            th:disabled="${ categoryList.first }"><
    </button>


    <th:block th:each="page: ${ #numbers.sequence(paging.startPage, paging.endPage)}">
        <button th:onclick="'location.href=\'/category/list?page=' + @{${page}} + '\''"
                th:text="${page}"
                th:disabled="${ paging.currentPage eq page }">
        </button>
    </th:block>


    <button th:onclick="'location.href=\'/category/list?page=' + ${ paging.currentPage + 1} + '\''"
            th:disabled="${ categoryList.last }">
        >
    </button>

    <button th:onclick="'location.href=\'/category/list?page=' + ${ paging.endPage } + '\''">
        >>
    </button>

    <form id="searchForm">
        <label for="categoryNo">카테고리 번호 :</label>
        <input type="number" id="categoryNo" name="categoryNo" required />
        <button type="button" onclick="searchCategory()">조회하기</button>
    </form>

    <script>
        function searchCategory() {
            const categoryNo = document.getElementById('categoryNo').value;
            fetch(`category/${categoryNo}`)
                .then(res => res.json())
                .then(data => {
                    const $categoryNo = document.getElementById('categoryNo');
                })
        }

    </script>

</div>
</body>
</html>