<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h1>하비스 가장 첫 페이지입니다.</h1>

<div>
    <a sec:authorize="isAnonymous()" th:href="@{/auth/login}">Login</a>
</div>

<div>
    <a sec:authorize="isAnonymous()" th:href="@{/member/register}">Register</a>
</div>

<div>
    <a th:href="@{/category/create}">CategoryCreate</a>
</div>

<div>
    <a th:href="@{/category/categoryList}">CategoryList</a>
</div>

<div>
    <a th:href="@{/post/postCreate}">게시판</a>
</div>

<div>
    <a th:href="@{/post/postList}">게시판 목록</a>
</div>

</body>
</html>